Code/RestaurantManagement/.vs/
Code/RestaurantManagement/RestaurantManagement/obj/
Code/RestaurantManagement/RestaurantManagement/bin/
Code/RestaurantManagement/RestaurantManagement/DataAccessLayer/DatabaseConnection.cs/
