<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestaurantManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RestaurantManagement.Properties.Settings.QuanLyNhaHangConnectionString"
            connectionString="Data Source=MINHTUNGUYEN\MINHTU_SERVER;Initial Catalog=QuanLyNhaHang;Persist Security Info=True;User ID=sa;Password=3052"
            providerName="System.Data.SqlClient" />
        <add name="RestaurantManagement.Properties.Settings.QuanLyNhaHangConnectionString1"
            connectionString="Data Source=MINHTUNGUYEN\MINHTU_SERVER;Initial Catalog=QuanLyNhaHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RestaurantManagement.Properties.Settings>
            <setting name="userLoginDb" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="passLoginDb" serializeAs="String">
                <value>3052</value>
            </setting>
        </RestaurantManagement.Properties.Settings>
    </userSettings>
</configuration>